@use "sass:color";
@use "../variables" as *;
@use "../mixins" as *;

.media-recommendations {
  margin-top: 2rem;

  .section-title {
    font-size: 1.5rem;
    margin-bottom: 1.5rem;
  }

  .grid {
    display: grid;
    gap: 1rem;
    grid-template-columns: repeat(auto-fill, minmax(140px, 1fr));

    @media (max-width: 1024px) {
      grid-template-columns: repeat(2, 1fr);
    }

    @media (max-width: 640px) {
      grid-template-columns: 1fr;
    }
  }
}
